<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Registrar Usuario</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__nombre">Nombre</label>
          <input type="text" class="form-control" id="register__nombre" ng-model="vm.nombre" placeholder="ej. Juan" />
        </div>

        <div class="form-group">
          <label for="register__apellido">Apellido</label>
          <input type="text" class="form-control" id="register__apellido" ng-model="vm.apellido" placeholder="ej. Pérez" />
        </div>

        <div class="form-group">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ej. john" />
        </div>

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ej. swordfish" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>